<%- include('partials/page-start.html') %>

<h1>Nueva Tarea</h1>

<section class="card">
    <div class="card-body">

        <% if (errorMessage) { %>
            <span><%= errorMessage %></span>
        <% } %>


        <form method="POST" action="/tasks">

            <label for="title">Título</label>
            <input
                type="text"
                id="title"
                name="title"
                placeholder="Preparar el formulario de creación de tarea"
                value="<%= values.title ?? '' %>"
            >

            <label for="done">Hecho</label>
            <input type="checkbox" name="done" id="done" <%= values.done === 'on' ? 'checked' : '' %>>

            <button type="submit">Guardar Tarea</button>

        </form>

    </div>
</section>


<%- include('partials/page-end.html') %>