<%- include('partials/page-start.html') %>

<h1><%= title %></h1>
<% if (values.id) { %>
    <span>Id de la tarea: <%= values.id %></span>
<% } %>

<section class="card">
    <div class="card-body">

        <% if (errorMessage) { %>
            <span><%= errorMessage %></span>
        <% } %>

         <!-- Los métodos válidos para un form html son POST i GET -->
        <form method="POST" action="/tasks<%= values.id ? '/edit/'+values.id : ''%>">

            <label for="title">Título</label>
            <input
                type="text"
                id="title"
                name="title"
                placeholder="Preparar el formulario de creación de tarea"
                value="<%= values.title ?? '' %>"
            >

            <label for="done">Hecho</label>
            <input type="checkbox" name="done" id="done" <%= values.done === 'on' ? 'checked' : '' %>>

            <button type="submit">Guardar Tarea</button>

        </form>

        <% if (values.id) { %>
             <button id="deleteBtn">Eliminar Tarea</button>
        <% } %>

    </div>
</section>

<script>
    // Detectar cuando se presiona el botón
    const btnElement = document.querySelector('#deleteBtn');
    // console.log(btnElement);

    // Conocer el id
    const taskId = "<%= values.id %>";

    // Llamar a una url con ese id (DELETE /tasks/id)
    btnElement.addEventListener('click', () => {
        // Todo lo que metamos aqui dentro, se ejecutará con el click
        const options = {
            method: "DELETE"
        };

        fetch("/tasks/" + taskId, options)
            .then(response => response.json())
            .then(data => {
                /** Procesar los datos **/
                // console.log(data);
                window.location.href = '/tasks'; // Navegamos mediante JS a la pagina de tareas
            });
    });

</script>


<%- include('partials/page-end.html') %>